#score{
    font-size: 28px;
    margin-left: 50px;
}

#time{
    font-size: 28px;
    float:right;
    margin-right:50px;
}

#drawSketch{
    color: fuchsia;
    
}


body{
    background: hsla(95, 76%, 65%, 1);

    background: linear-gradient(90deg, hsla(95, 76%, 65%, 1) 30%, hsla(61, 81%, 60%, 1) 69%);

    background: -moz-linear-gradient(90deg, hsla(95, 76%, 65%, 1) 30%, hsla(61, 81%, 60%, 1) 69%);

    background: -webkit-linear-gradient(90deg, hsla(95, 76%, 65%, 1) 30%, hsla(61, 81%, 60%, 1) 69%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BEA62", endColorstr="#E9EC45", GradientType=1 );
}