#score{
    font-size: 28px;
    margin-left: 50px;
}

#time{
    font-size: 28px;
    float:right;
    margin-right:50px;
}

#drawSketch{
    color: fuchsia;
    
}


body{
    background: rgb(34,193,195);
    background: linear-gradient(246deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}